<div class="container-fluid">
    <div class="branches-table"> 
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr class="table-success">
          <th>ID</th>
          <th>Name</th>
          <th>Director</th>
          <th>Address</th>
          <th>City</th>
          <th>District</th>
          <th>CreatedOn</th>
          <th>CreatedBy</th>
          <th>UpdatedOn</th>
          <th>UpdatedBy</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let branch of branches">
          <td>{{ branch.branchId }}</td>
          <td>{{ branch.branchName }}</td>
          <td>{{ branch.director.directorName }}</td>
          <td>{{ branch.address }}</td>
          <td>{{ branch.city }}</td>
          <td>{{ branch.district }}</td>
          <td>{{ branch.createdOn }}</td>
          <td>{{ branch.createdBy.name }}</td>
          <td>{{ branch.updatedOn }}</td>
          <td>{{ branch.updatedBy.name }}</td>
          <td *ngIf="branch.active">Active</td>
          <td *ngIf="!branch.active">Disabled</td>
          <td>
            <button type="button" class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"></i></button>  
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>