<app-header></app-header>
<app-menu></app-menu>
<div class="container-fluid">
  <div class="users-table"  style="overflow-x:auto;"> 
      <div style="float:left;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-plus" aria-hidden="true"></i></button>
          <input type="text" id="searchbox" value="Enter User Name to Search" class="search-box"/>
          <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
          <div style="float:right;" *ngIf="this.displayMessage" class="alert alert-success">
            {{ this.message }}
          </div>
      </div>
      <div>
          <app-user-form 
                (userAdded)='saveUserToList($event);' 
                (userUpdated)='updateUserList($event);'
                [user]="selectedUser">
          </app-user-form>
      </div>
	<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr class="table-success">
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
        <!--<th>Password</th>-->
        <th>Mobile</th>
        <th>Address</th>
        <th>City</th>
        <th>District</th>
        <th>Pin</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let user of users">
        <td>{{ user.userId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.userName }}</td>
        <!--<td>{{ user.password }}</td>-->
        <td>{{ user.mobile }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.district }}</td>
        <td>{{ user.postalCode }}</td>
        <td> <span *ngFor="let role of user.roles"> {{ role.roleName }} </span></td>
        <td *ngIf="user.active">Active</td>
        <td *ngIf="!user.active">Disabled</td>
        <td>
          <button type="button" class="btn btn-default" (click)="onEdit(user);" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default" (click)="deleteUser(user.userId);"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</div>