<div class="container-fluid">
  <div class="directors-table"> 

      <div style="float:left;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#directorModal" (click)="onAddNew();">
          <i class="fa fa-plus" aria-hidden="true"></i></button>
          <input type="text" id="searchbox" value="Enter Director Name to Search" class="search-box"/>
          <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
          <div style="float:right;" *ngIf="this.displayMessage" class="alert alert-success">
            {{ this.message }}
          </div>
      </div>
      <div style="float:left;">
          <app-director-form
                (directorAdded)='saveDirectorToList($event);' 
                (directorUpdated)='updateDirectorList($event);'
                [director]="selectedDirector">
          </app-director-form>
      </div>

  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr class="table-success">
        <th>ID</th>
        <th>Name</th>
        <th>F-Name</th>
        <th>DOB</th>
        <th>Mobile 1</th>
        <th>Mobile 2</th>
        <th>Bank</th>
        <th>Branch</th>
        <th>IFSC</th>
        <th>Account</th>
        <!--<th>CreatedOn</th>
        <th>CreatedBy</th>
        <th>UpdatedOn</th>
        <th>UpdatedBy</th>-->
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let director of directors">
        <td>{{ director.directorId }}</td>
        <td>{{ director.directorName }}</td>
        <td>{{ director.fatherName }}</td>
        <td>{{ director.dob }}</td>
        <td>{{ director.primaryMobile }}</td>
        <td>{{ director.alternateMobile }}</td>
        <td>{{ director.bankName }}</td>
        <td>{{ director.branchName }}</td>
        <td>{{ director.ifscCode }}</td>
        <td>{{ director.accountNumber }}</td>
        <!--<td>{{ director.createdOn }}</td>
        <td>{{ director.createdBy.name }}</td>
        <td>{{ director.updatedOn }}</td>
        <td>{{ director.updatedBy.name }}</td>-->
        <td *ngIf="director.active">Active</td>
        <td *ngIf="!director.active">Disabled</td>
        <td>
          <button type="button" class="btn btn-default" (click)="onDirectorEdit(director);" data-toggle="modal" data-target="#directorModal">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default" (click)="deleteDirector(director.directorId);"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>