.id-table {
    padding-top: 5px;
}
.search-box{
    font-size: 12px;
    width: 200px;
    border: 2px solid #034f84;
    height: 35px;
    padding: 5px;
}
th{
    white-space: nowrap;
    font-size: small;
}
tr{
    white-space: nowrap;
    font-size: small;
}